# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Android / Gradle
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/captures/
android/.cxx/
android/app/release/
android/app/debug/

# Node (only if you ever add tooling)
node_modules/
